<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>CSS Grid Playground</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="css-grid-playground">
        <!-- Grid Settings -->
        <section id="grid-settings" class="box-styles">
            <div>
                <h3>Grid Settings</h3>
            </div>

            <div>
                <label>Items</label>
                <button @click="addItem">+</button>
                <button @click="removeItem">-</button>
            </div>

            <div>
                <label>Columns</label>
                <button @click="addColumn">+</button>
                <button @click="removeColumn">-</button>
            </div>

            <div>
                <label>Rows</label>
                <button @click="addRow">+</button>
                <button @click="removeRow">-</button>
            </div>

            <div>
                <label>Grip Gap (px)</label>
                <input type="number" v-model.number="grid.gap" min="0">
            </div>
            
            <div>
                <label>Justify Items</label>
                <select v-model="grid.justifyItems">
                    <option value="auto">auto</option>
                    <option value="start">start</option>
                    <option value="end">end</option>
                    <option value="center">center</option>
                    <option value="stretch">stretch</option>
                </select>
            </div>

            <div>
                <label>Align Items</label>
                <select v-model="grid.alignItems">
                    <option value="auto">auto</option>
                    <option value="start">start</option>
                    <option value="end">end</option>
                    <option value="center">center</option>
                    <option value="stretch">stretch</option>
                </select>
            </div>

            <div>
                <label>Justify Content</label>
                <select v-model="grid.justifyContent">
                    <option value="auto">auto</option>
                    <option value="start">start</option>
                    <option value="end">end</option>
                    <option value="center">center</option>
                    <option value="stretch">stretch</option>
                    <option value="space-around">space-around</option>
                    <option value="space-between">space-between</option>
                    <option value="space-evenly">space-evenly</option>
                </select>
            </div>

            <div>
                <label>Align Content</label>
                <select v-model="grid.alignContent">
                    <option value="auto">auto</option>
                    <option value="start">start</option>
                    <option value="end">end</option>
                    <option value="center">center</option>
                    <option value="stretch">stretch</option>
                    <option value="space-around">space-around</option>
                    <option value="space-between">space-between</option>
                    <option value="space-evenly">space-evenly</option>
                </select>
            </div>
        </section>

        <!-- Grid Item Settings -->
        <section
            id="grid-item-settings"
            class="box-styles"
        >
            <div
                v-if="! selectedGridItem.selected"
                :style="{
                    gridColumnStart: 1,
                    gridColumnEnd: 5,
                    gridRowStart: 1,
                    gridRowEnd: 5,
                    justifySelf: 'center',
                    color: 'rgb(130, 165, 197)',
                    fontSize: '1.5em',
                    fontWeight: '600',
                }"
            >
                <p>Select a grid item.</p>
            </div>

            <template v-else>
                <div id="grid-item-title">
                    <h3>Grid Item</h3>

                    <button @click="resetGridItem">Reset</button>
                </div>

                <div id="grid-item-text">
                    <label>Text</label>
                    <input type="text" v-model="selectedGridItem.text">
                </div>

                <div>
                    <label>Height (px)</label>
                    <input type="number" v-model.number="selectedGridItem.height">
                </div>

                <div>
                    <label>Width (px)</label>
                    <input type="number" v-model.number="selectedGridItem.width">
                </div>

                <div>
                    <label>Justify Self</label>
                    <select v-model="selectedGridItem.justifySelf">
                        <option value="auto">auto</option>
                        <option value="start">start</option>
                        <option value="end">end</option>
                        <option value="center">center</option>
                        <option value="stretch">stretch</option>
                    </select>
                </div>

                <div>
                    <label>Align Self</label>
                    <select v-model="selectedGridItem.alignSelf">
                        <option value="auto">auto</option>
                        <option value="start">start</option>
                        <option value="end">end</option>
                        <option value="center">center</option>
                        <option value="stretch">stretch</option>
                    </select>
                </div>

                <div>
                    <label>Column Start</label>
                    <select v-model="selectedGridItem.gridColumnStart">
                        <option value="auto">auto</option>
                        <option v-for="column in (grid.columns + 1)" :value="column">{{ column }}</option>
                    </select>
                </div>

                <div>
                    <label>Column End</label>
                    <select v-model="selectedGridItem.gridColumnEnd">
                        <option value="auto">auto</option>
                        <option v-for="column in (grid.columns + 1)" :value="column">{{ column }}</option>
                    </select>
                </div>

                <div>
                    <label>Row Start</label>
                    <select v-model="selectedGridItem.gridRowStart">
                        <option value="auto">auto</option>
                        <option v-for="row in (grid.rows + 1)" :value="row">{{ row }}</option>
                    </select>
                </div>

                <div>
                    <label>Row End</label>
                    <select v-model="selectedGridItem.gridRowEnd">
                        <option value="auto">auto</option>
                        <option v-for="row in (grid.rows + 1)" :value="row">{{ row }}</option>
                    </select>
                </div>
            </template>
        </section>

        <!-- Column and Row Settings -->
        <section id="grid-column-settings" class="box-styles">
            <div
                v-if="selectedRow === undefined && selectedColumn === undefined"
                :style="{
                    gridColumnStart: 1,
                    gridColumnEnd: 5,
                    gridRowStart: 1,
                    gridRowEnd: 5,
                    alignSelf: 'center',
                    justifySelf: 'center',
                    color: 'rgb(130, 165, 197)',
                    fontSize: '1.5em',
                    fontWeight: '600',
                }"
            >
                <p>Select a row or column.</p>
            </div>

            <template v-else>
                <h3>
                    {{ selectedRow !== undefined ? 'Row ' + (selectedRow + 1) + ' Settings' : 'Column ' + (selectedColumn + 1) + ' Settings' }}
                </h3>

                <template v-if="selectedRow !== undefined">
                    <label>Width</label>
                    <input type="number" v-model="grid.rows[selectedRow].width">
                    <select v-model="grid.rows[selectedRow].unit">
                        <option value="fr">fr</option>
                        <option value="px">px</option>
                        <option value="%">%</option>
                    </select>
                </template>

                <template v-if="selectedColumn !== undefined">
                    <label>Width</label>
                    <input type="number" v-model="grid.columns[selectedColumn].width">
                    <select v-model="grid.columns[selectedColumn].unit">
                        <option value="fr">fr</option>
                        <option value="px">px</option>
                        <option value="%">%</option>
                    </select>
                </template>
            </template>
        </section>

        <!-- Column List -->
        <section
            id="column-list"
            class="list-styles"
            :style="{
                gridTemplateColumns: columnsString,
            }"
        >
            <div
                v-for="(column, index) in grid.columns"
                :style="{
                    width: '100%',
                    textAlign: 'center',
                    border: selectedColumn === index ? '1px dashed rgb(221, 199, 101)' : 'none',
                    background: selectedColumn === index ? 'rgb(235, 231, 186)' : 'none',
                }"
            >
                <span
                    class="list-item-button"
                    @click="selectColumn(index)"
                >
                    {{ column.index + 1 }}
                </span>
            </div>
        </section>

        <!-- Row List -->
        <section
            id="row-list"
            class="list-styles"
            :style="{
                gridTemplateRows: rowsString,
            }"
        >
            <div
                v-for="(row, index) in grid.rows"
                :style="{
                    display: 'grid',
                    alignItems: 'center',
                    justifyItems: 'center',
                    height: '100%',
                    width: '100%',
                    border: selectedRow === index ? '1px dashed rgb(221, 199, 101)' : 'none',
                    background: selectedRow === index ? 'rgb(235, 231, 186)' : 'none',
                }"
            >
                <span
                    class="list-item-button"
                    @click="selectRow(index)"
                >
                    {{ row.index + 1 }}
                </span>
            </div>
        </section>

        <!-- Grid Display -->
        <section
            id="grid-display"
            class="box-styles"
            :style="{
                gridTemplateColumns: columnsString,
                gridTemplateRows: rowsString,
                gridGap: grid.gap + 'px',
                justifyContent: grid.justifyContent,
                alignContent: grid.alignContent,
                justifyItems: grid.justifyItems,
                alignItems: grid.alignItems,
            }"
        >
            <div
                v-for="(item, index) in items"
                @click="selectGridItem(index)"
                class="grid-item"
                :style="{
                    background: item.selected ? 'rgb(235, 231, 186)' : 'rgb(206, 213, 226)',
                    alignSelf: item.alignSelf,
                    justifySelf: item.justifySelf,
                    height: item.height !== 'auto' ? item.height + 'px' : 'auto',
                    width: item.width !== 'auto' ? item.width + 'px' : 'auto',
                    gridColumnStart: item.gridColumnStart,
                    gridColumnEnd: item.gridColumnEnd,
                    gridRowStart: item.gridRowStart,
                    gridRowEnd: item.gridRowEnd,
                }"
            >
                {{ item.text }}
            </div>
        </section>
    </div>

    <script src="playground.js"></script>
</body>
</html>