html {
    width: 100%;
}

body {
    display: grid;
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: cadetblue;
}

#grid-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    width: 900px;
    height: 900px;
    align-self: center;
    justify-self: center;
    border: 3px solid black;
}

#grid-prototype {
    display: grid;
}

footer {
    background: steelblue;
    height: 100px;
}