html {
    font-family: 'Source Sans Pro', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

body {
    background: rgb(102, 127, 150);
    padding: 10px 0;
}

h3 {
    margin: 0;
    padding: 0;
    color: rgb(79, 113, 145);
}

.box-styles {
    background: #ddd;
    border: 3px dashed rgb(141, 169, 219);
    box-shadow: 0px 10px 15px rgb(79, 113, 145);
    padding: 15px;
}

.list-styles {
    background: #ddd;
    border: 2px dashed rgb(141, 169, 219);
    padding: 5px;
}

#css-grid-playground {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 450px 40px 1fr;
    grid-template-rows: 90px 40px 1fr 1fr;
    grid-template-areas:
        "grid-settings            grid-settings     grid-settings"
        "grid-item-settings       empty             column-list"
        "grid-item-settings       row-list          grid-display"
        "grid-column-settings     row-list          grid-display";
    height: 90vh;
    padding: 25px;
    overflow: auto;
}

#grid-settings {
    display: grid;
    grid-area: grid-settings;
    grid-gap: 20px;
    grid-template-columns: auto repeat(8, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

#grid-column-settings {
    display: grid;
    grid-area: grid-column-settings;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 25px 35px 1fr;
}

#grid-column-settings > h3, label {
    grid-column-start: 1;
    grid-column-end: 5;
}

#grid-column-settings > input {
    grid-column-start: 1;
    grid-column-end: 4;
}

#grid-item-settings {
    display: grid;
    grid-area: grid-item-settings;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25px repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

#grid-item-title {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 5;
}

#grid-item-text {
    grid-column-start: 1;
    grid-column-end: 5;
}

#grid-display {
    display: grid;
    grid-area: grid-display;
}

#column-list {
    display: grid;
    grid-area: column-list;
    align-items: center;
    justify-items: center;
}

#row-list {
    display: grid;
    grid-area: row-list;
    align-items: center;
    justify-items: center;
}

.grid-item {
    background: rgb(206, 213, 226);
    border: 1px dashed cornflowerblue;
    padding: 5px;
    color: rgb(144, 152, 168);
    font-size: 2em;
    cursor: pointer;
}

label {
    font-size: 0.8em;
    color: rgb(79, 113, 145);
    display: block;
    margin-bottom: 5px;
}

input {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgb(79, 113, 145);
    padding: 5px;
    width: 95%;
}

.list-item-button {
    margin: 0;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(79, 113, 145);
}

.list-item-button:hover {
    color: rgb(130, 165, 197);
}
