html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background: mediumaquamarine;
    display: grid;
    height: 100%;
    width: 100%;
}

h3 {
    margin: 0;
    padding: 0;
}

#grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-self: center;
    justify-self: center;
    width: 650px;
}

#grid-prototype {
    background: #555;
    padding: 5px;
    display: grid;
    height: 500px;
    border: 3px solid black;
}

.grid-item {
    background: azure;
    border: 5px solid aquamarine;
    color: cornflowerblue;
    font-size: 2em;
    cursor: pointer;
}

header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #ccc;
    padding: 15px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

footer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    background: #bbb;
    padding: 15px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

label {
    color: #444;
    display: block;
    margin-bottom: 5px;
}

input {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid black;
    padding: 5px;
    max-width: 75px;
}