html {
    font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

body {
    background: #444;
    padding: 10px 0;
}

h3 {
    margin: 0;
    padding: 0;
}

#css-grid-playground {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "grid-settings       grid-display"
        "grid-item-settings  grid-display";
    height: 90vh;
    padding: 25px;
    overflow: auto;
}

#grid-settings {
    background: #eee;
    border: 5px solid #aaa;
    grid-area: grid-settings;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25px 75px 75px;
    padding: 15px;
}

#grid-settings > h3 {
    grid-column-start: 1;
    grid-column-end: 5;
}

#grid-item-settings {
    grid-area: grid-item-settings;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25px 75px 75px;
    grid-gap: 20px;
    background: #ccc;
    border: 5px solid #999;
    padding: 15px;
}

#grid-item-settings > h3 {
    grid-column: 1 / 5;
}

#grid-display {
    display: grid;
    grid-area: grid-display;
    background: #ddd;
    border: 5px dashed #ccc;
    padding: 15px;
}

.grid-item {
    background: rgb(206, 213, 226);
    border: 1px dashed cornflowerblue;
    color: rgb(144, 152, 168);
    font-size: 2em;
    cursor: pointer;
}

label {
    color: #444;
    display: block;
    margin-bottom: 5px;
}

input {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid black;
    padding: 5px;
    max-width: 100px;
}