html {
    font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

body {
    background: mediumaquamarine;
    padding: 10px 0;
}

h3 {
    margin: 0;
    padding: 0;
}

#css-grid-playground {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "grid-settings       grid-display"
        "grid-item-settings  grid-display";
    height: 90vh;
    padding: 25px;
    overflow: auto;
}

#grid-settings {
    background: steelblue;
    grid-area: grid-settings;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
}

#grid-item-settings {
    grid-area: grid-item-settings;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    background: sandybrown;
    padding: 15px;
}

#grid-display {
    display: grid;
    grid-area: grid-display;
    background: black;
    padding: 5px;
}

.grid-item {
    background: azure;
    border: 5px solid aquamarine;
    border-radius: 5px;
    color: cornflowerblue;
    font-size: 2em;
    cursor: pointer;
}

label {
    color: #444;
    display: block;
    margin-bottom: 5px;
}

input {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid black;
    padding: 5px;
    max-width: 100px;
}